<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lastingwar.gmall.publisher.mapper.DauMapper">
<!--    对应查询日活总计-->
    <select id="selectDauTotal" resultType="Integer">
        select count(*) from gmall2020_dau where  logdate=#{date}
    </select>
<!--    对应查询小时日活-->
    <select id="selectDauTotalHourMap" resultMap="dauTotalHour">
        select LOGHOUR lh, count(*) ct from gmall2020_dau where  LOGDATE=#{date}
        group by LOGHOUR
    </select>

    <resultMap id="dauTotalHour" type="java.util.Map" autoMapping="true">
    </resultMap>
</mapper>
